[submodule "14.Experience_Continuous_Integration_With_Jenkins_Ansible_Artifactory_Sonarqube_PHP"]
	path = 14.Experience_Continuous_Integration_With_Jenkins_Ansible_Artifactory_Sonarqube_PHP
	url = git@github.com:Uzuazoraro/14.Experience_Continuous_Integration_With_Jenkins_Ansible_Artifactory_Sonarqube_PHP.git
